/* PaginationControls.css */
.annotation-controls {
    display: flex;
    align-items: center;
    /* background-color: #1e1e2f; */
    color: #00d1b2;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    gap: 8px;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff94;
  }
  
  .annotation-controls-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .annotation-controls-title p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 1.25rem;
    width: 300px;
  }

  .annotation-controls-button {
    background-color: #dadceb33;
    border-radius: 0.5rem;
    padding: 0.15rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15rem;
  }

  .annotation-controls button {
    background: none;
    border: none;
    color: #00d1b2;
    cursor: pointer;
    font-size: 16px;
  }
  
  .annotation-controls button:disabled {
    color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
  }
  
  .annotation-controls span {
    font-weight: bold;
  }
  