.label-panel {
  margin-top: 20px;
}

.label-item {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
}

.label-item.selected {
  background: #4a4a6a;
}

/* .label-item:hover {
  background-color: rgba(var(--accent), 0.5);
}

.label-item.selected {
  background-color: var(--accent);
} */

.label-item input {
  width: 100%;
  border: none;
  background: transparent;
  color: white;
}

.label-item button {
  margin-left: 5px;
  color: red;
}