.upload-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;

}

.upload-content {
    display: flex;
    flex-direction: column;
    /* padding: 40px; */
    box-sizing: border-box;
    gap: 20px;
    height: 100%;
  }

.submit-upload {
    display: flex;
}

.upload-page-section {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.upload-page-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    justify-content: flex-start;
    gap: 3rem;

}

.upload-page-content {
    display: flex;
    border: 1px dashed #333;
    border-radius: 8px;
    margin: 30px;
    height: calc(100vh - 300px);
    overflow: scroll;
}

.uplaod-content-before {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
}

.drag-and-drop {
    font-size: 42px;
    color: rgba(0, 0, 255, 0.653);
    
}


.upload-content-after {
    justify-content: flex-start;
    overflow: scroll;
    width: 100%;
}


.upload-content-icon {
    width: 150px;
}

.select-button-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.select-button-after {
    display: flex;
    margin: 20px 20px;
    padding: 10px;
    gap: 2rem;
    font-size: 24px;
}

.progress-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
.progress-bar {
    width: 80%;
    text-align: center;
    color: grey;
}

.progress-bar progress {
    width: 100%;
    height: 30px;
    color: green;
}

.progress-bar span {
    margin-top: 10px;
    display: block;
    color: black;
}